# 配置文件示例
#
# 请将此文件复制一份并重命名为 `config.toml`

[[feed]]
# 订阅的源，来自 [RSSHub](https://github.com/DIYgod/RSSHub)
url = "https://rsshub.app/bilibili/user/video/13297724"
# 更新频率，单位：分钟
interval = 60
# bilili 的下载参数，具体可查看：[yutto](https://github.com/yutto-dev/yutto)
option = "--no-danmaku --proxy=no"
# 下载路径(相对路径)
path = "bilibili/Gamker"
# 是否更新，设为 false 即不更新
update = true

[[feed]]
url = "https://rsshub.app/bilibili/user/video/96639395"
interval = 60
option = "--no-danmaku --proxy=no"
path = "bilibili/Academia"
update = false
